body {
  padding: 0;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: #fcfcfc;
}

.container {
  background-color: #30363D;
  padding: 32px;
  border-radius: 15px;
}

.button-container-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.button-container-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 24px;
}